/* start global rules */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;   
}

:root {
    --main-color: #2196F3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-section-padding: 100px 0px;
    --section-background: #ECECEC;
}
body{
    /* font-family: "cairo" , "sans-serif"; */
    font-family: 'Rajdhani', sans-serif;
}

html{
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #000;
}
.main-title {
    text-transform: uppercase;
    margin: 0px auto 80px;
    width: fit-content;
    padding: 10px 20px;
    font-size: 30px;
    border: 2px solid #000;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
}

.main-title::before ,
.main-title::after {
    content: "";
    background-color: var(--main-color);
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%
}
/* main-title */
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}

.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    color: #FFF;
    border: 2px solid #FFF;
    transition-delay: 0.3s;
}
/* main-title */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/*small*/
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/*medium*/
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/*large*/
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* end global rules */
/* start header */
.header {
    background-color: #FFF;
    position: relative;
    box-shadow: 0 0 10px #ddd;
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    -o-box-shadow: 0 0 10px #ddd;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.header .logo {
    font-size: 30px;
    font-weight: bold;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .logo a {
    color: var(--main-color);
}

@media (max-width: 767px) {
    .header .logo {
        margin: auto;
    }
}

.header .main-nav > ul{
    display: flex;
}

@media (max-width: 767px) {
    .header .main-nav {
        margin: auto;
    }
}

.header .main-nav > ul > li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    position: relative;
    padding: 0px 25px;
    font-size: 18px;
    transition: var(--main-transition);
}

@media (max-width: 767px) {
    .header .main-nav > ul > li a {
        padding: 10px;
        font-size: 16px;
        height: 50px;
    }
}

.header .main-nav > ul > li a::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 0%;
    height: 3px;
    top: 0px;
    left: 0px;
    transition: var(--main-transition);
}

.header .main-nav > ul > li a:hover {
    color: var(--main-color);
    background-color: #FAFAFA;
}

.header .main-nav > ul > li a:hover::before {
    width: 100%;
}

/* start mega menu */

.header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    opacity: 0;
    background-color: #FFF;
    padding: 25px;
    border-bottom: 3px solid var(--main-color);
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    transition: top var(--main-transition), opacity var(--main-transition);
    z-index: -1; 
}

@media (max-width: 767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}

.header .mega-menu .mega-image img {
    max-width: 100%;
} 

@media (max-width: 991px) {
    .header .mega-menu .mega-image {
        display: none;
    } 
}

.header .mega-menu .links {
    min-width: 250px;
    flex: 1;
} 

.header .mega-menu .links li {
    position: relative;
}

.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
    .header .mega-menu .links:first-of-type li:last-child {
        border-bottom: 1px solid #e9e6e6;
    }
}
.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    background-color: #ececec40;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: width var(--main-transition) linear;
}

.header .mega-menu .links li:hover::before {
    width: 100%;
}

.header .mega-menu .links li a {
    display: block;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;
}

.header .mega-menu .links li a i {
    margin-right: 10px;
}

.header .main-nav  ul  li:last-child:hover .mega-menu{
    opacity: 1;
    top: calc(100% + 1px);
    z-index: 2;
}
/* end mega menu */

/* end header */
/* start landing */
.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    background-color: #ececec;
    top: -40px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: skewY(-6deg);
    transform-origin: top left;
    z-index: -1;
}

.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 70px);
    padding-bottom: 140px;
}

.landing .left {
    flex: 1;
}

@media (max-width: 991px) {
    .landing .left {
        text-align: center;
    }
}

.landing .left h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}

@media (max-width: 767px) {
    .landing .left h1 {
        font-size: 28px;
    }
}

.landing .left p {
    font-size: 22px;
    margin: 5px 0 0;
    line-height: 1.7;
    color: #666;
    max-width: 500px;
}

@media (max-width: 767px) {
    .landing .left p {
        font-size: 18px;
    }
}

@media (max-width: 991px) {
    .landing .left p {
        text-align: center;
        margin: 10px auto
    }
}

.landing .right img {
    width: 600px;
    max-width: 600px;
    animation: up-down 5s linear infinite alternate;
}

@media (max-width: 991px) {
    .landing .right img {
        display: none;
    }
}

.landing .go-down {
    position: absolute;
    cursor: pointer;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
    animation: bouncing 1.5s infinite;
}

.landing .go-down i {
    color: var(--main-color);
}


.landing .go-down i:hover {
    color: var(--main-color-alt);
}




/* end landing */

/* start articles */
    .articles {
        padding: var(--main-section-padding);
        position: relative;
    }

    .articles .container {
        display: grid;
        grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
        gap: 40px;
    }

    .articles .container .card {
        background-color: #FFF;
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
        transition: transform var(--main-transition) ,
            box-shadow var(--main-transition);
        display: flex;
        flex-direction: column;
    }
    
    .articles .container .card:hover {
        transform: translateY(-10px);
        box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    }
    .articles .container .card:hover .card-footer i {
        animation: moving-arrow 0.6s linear infinite;
    }

    .articles .container .card .card-header {
        width: 100%;
        max-width: 100%;
    }

    .articles .container .card .card-header img {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }

    .articles .container .card .card-body {
        padding: 20px;
    }

    .articles .container .card .card-body h2 {
        font-size: 18px;
    }
    
    .articles .container .card .card-body p {
        color: #888
    }

    .articles .container .card .card-footer {
        border-top: 1px solid #E6E6E7;
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .articles .container .card .card-footer a , i{
        font-weight: bold;
        color: var(--main-color);
    }
/* end articles */

/* start gallery */
.gallery {
    background-color: var(--section-background);
    padding: var(--main-section-padding);
    position: relative;
}
.gallery::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}

.gallery .container .box {
    padding: 15px;
    background-color: #FFF;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
}

.gallery .container .box .image {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gallery .container .box .image::before {
    content: "";
    position: absolute;
    background-color: #ffffff75;
    cursor: pointer;
    width: 0px;
    height: 0px;
    left: 50%;
    top: 50%;
    opacity: 1;
    transform: translate(-50% , -50%);
    transition: var(--main-transition);
}

.gallery .container .box .image img {
    width: 100%;
    max-width: 100%;
    transition: var(--main-transition);
}

.gallery .container .box .image:hover::before {
    z-index: 2;
    animation: flashing 0.7s;
}

.gallery .container .box .image:hover img {
    transform: scale(1.1) rotate(5deg);
}

/* end gallery */

/* start features */
.features {
    padding: var(--main-section-padding);
    position: relative;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}

.features .container .card {
    background-color: #FFF;
    border: 1px solid #DDD;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    transition: transform var(--main-transition) , box-shadow var(--main-transition);
    display: flex;
    flex-direction: column;
}

.features .card .card-header{
    position: relative;
}

.features .card .card-header::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 1;
}

.features .quality .card-header::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .time .card-header::before {
    background-color: rgb(0 150 128 / 60%);
}

.features .passion .card-header::before {
    background-color: rgb(3 169 244 / 60%);
}

.features .card .card-header::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0px 0px 300px 600px;
    border-color: transparent transparent #FFF transparent;
    bottom: 0;
    left: -20px;
    transition: var(--main-transition);
}

.features .card .card-header img{
    width: 100%;
    max-width: 100%;
}

.features .card:hover .card-header::after {
    border-width: 170px 600px 170px 0px;
}

.features .card .card-body{
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features .card .card-body h2 {
    font-size: 35px;
    padding: 15px 0px;
    position: relative;
}
.features .card .card-body p {
    text-align: center;
    font-size: 18px;
    color: #504f4f;
    line-height: 1.9;
    padding: 25px 0px;
}

.features .card .card-body h2::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 5px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.features .quality .card-body h2::before {
    background-color: #f44036;
}
.features .time .card-body h2::before {
    background-color: #009688;
}
.features .passion .card-body h2::before {
    background-color: #03a9f4;
}

.features .card .card-footer {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features .card .card-footer a {
    border-radius: 5px;
    padding: 5px 30px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    transition: var(--main-transition);
}

.features .quality .card-footer a {
    border: 2px solid #f44036;
    color: #f44036;
    background: linear-gradient(to right , #F44036 50% , #FFF 50%);
    background-size: 200% 100%;
    background-position: right center;
}

.features .time .card-footer a {
    border: 2px solid #009688;
    color: #009688;
    background: linear-gradient(to right , #009688 50% , #FFF 50%);
    background-size: 200% 100%;
    background-position: right center;
}

.features .passion .card-footer a {
    border: 2px solid #03a9f4;
    color: #03a9f4;
    background: linear-gradient(to right , #03a9f4 50% , #FFF 50%);
    background-size: 200% 100%;
    background-position: right center;
}
.features .card:hover a {
    background-position: left center;
    color: #FFF;
    
}

/* end features */

/* start testimonials */
.testimonials {
    padding: var(--main-section-padding);
    background-color: var(--section-background);
    position: relative;
}

.testimonials::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}

.testimonials .card {
    position: relative;
}

.testimonials .card .card-header {
    background-color: var(--section-background);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
    overflow: hidden;
    position: absolute;
    right: -10px;
    top: -50px;
    
}

.testimonials .card .card-header img {
    width: 100%;
    max-width: 100%;
    border-radius: 50%;
}

.testimonials .card .card-body {
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
}

.testimonials .card .card-body span {
    font-size: 16px;
    display: block;
    color: #777;
}

.testimonials .card .card-body .rate i {
    color: #ffc107;
}
.testimonials .card .card-body .rate i:last-of-type {
    color: #000;
}

.testimonials .card .card-body p {
    line-height: 1.3;
    font-size: 16px;
    color: #777;
}
/* end testimonials */
/* start team members */
.team {
    padding: var(--main-section-padding);
    position: relative;
}

.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}

.team .box {
    position: relative;
}

.team .box::after , .team .box::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0px;
    right: 0px;
    border-radius: 10px;
    transition: var(--main-transition);
}
.team .box::after {
    background-color: #F3F3F3;
    width: calc(100% - 60px);
    z-index: -2;
}
.team .box::before {
    background-color: #c2bfbf85;
    width: 0%;
    z-index: -1;
}

.team .container .box:hover::before {
    width: calc(100% - 60px);
}

.team .box .data {
    display: flex;
    padding: 60px 0px 0px;
}

.team .box .data .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
    z-index: 2;

}

.team .box .data .profile {
    overflow: hidden;
    z-index: 3;
}
.team .box .data .profile img{
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
}

.team .container .box:hover .data .profile img {
    filter: grayscale(100%);
}


.team .box .data .social li a {
    padding: 20px 0px;
}

.team .box .data .social i{
    color: #777;
    transition: var(--main-transition);
    padding: 10px 0px;

}

.team .box .data .social li:hover a i{
    color: var(--main-color);
}

.team .box .info {
padding: 15px 0px 15px 80px;
}

.team .box .info h3{
    color: var(--main-color);
    font-size: 22px;
    transition: var(--main-transition);
}

.team .container .box:hover .info h3 {
    color: #777;
}


.team .box-body .info p{
    color: #777;
    z-index: 55;
} 

/* end team */
/* start services */
.services {
    background-color: var(--section-background);
    padding: var(--main-section-padding);
    position: relative;
}

.services::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}

.services .container .box {
    background-color: #FFF;
    box-shadow: 0 2px 15px rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    transition: var(--main-transition);
    position: relative;
}

.services .container .box::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 0%;
    height: 3px;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.services .container .box:hover {
    transform: translateY(-10px);
}

.services .container .box:hover::before {
    width: 100%;
}

.services .box .box-body {
    padding: 30px 15px;
}

.services .box .box-body span {
    display: block;
    padding: 10px 0px;
    text-align: center;
}

.services .box .box-body span i {
    color: #DDD;
    font-size: 70px;
}

.services .box .box-body h3{
    text-align: center;
    color: var(--main-color);
    font-size: 25px;
}

.services .box .box-footer {
    padding: 15px;
    background-color: #f9f9f9;
    position: relative;
    text-align: right;
}

.services .box .box-footer a {
    color: var(--main-color);
}

.services .box .box-footer::before {
    content: "0" counter(services);
    position: absolute;
    background-color: var(--main-color);
    color: #FFF;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100%;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.services .box .box-footer::after {
    content: "";
    position: absolute;
    background-color: #D5D5D5;
    top: 0px;
    left: 22%;
    width: 50px;
    height: 100%;
    transform: skewX(-30deg);
}

/* end services */

/* start skills */
.skills {
    background-color: #FFF;
    padding: var(--main-section-padding);
}

.skills .container {
    display: flex;
    flex-wrap: wrap;

}

.skills .left {
    display: flex;
}

.skills .left img {
    width: 100%;
    max-width: 100%;;
}

.skills .right {
    overflow: hidden;
    flex: 1;
}

.skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
    text-transform: uppercase;

}

.skills .skill h3 span {
    display: block;
    color: var(--main-color);
    font-size: 12px;
    border: 1px solid #DDD;
    padding: 0px 5px;
    border-radius: 3px;
}

.skills .skill .progress {
    background-color: #EEE;
    height: 30px;
}

.skills .skill .progress span {
    background-color: var(--main-color);
    display: block;
    height: 100%;
}

@media (max-width: 991px) {

    .skills .left {
        display: none;
    }
}
/* end skills */

/*start works*/
.works {
    background-color: var(--section-background);
    padding: var(--main-section-padding);
    position: relative;
}

.works::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}

.works .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 991px) {
    .works .container {
        flex-direction: column;
        justify-content: center;
    }
}

.works .left {
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .works .left {
        margin-right: 0px;
        margin-bottom: 50px;
    }
}

.works .left img {
    width: 100%;
    max-width: 100%;
}

.works .right {
    flex: 1;
}

.works .right .step {
    background-color: #f6f5f5;
    display: flex;
    padding: 30px;
    border: 2px solid #FFF;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

@media (max-width: 991px) {
    .works .right .step {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.works .right .step::before {
    content: "";
    position: absolute;
    background-color: #EDEDED;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 10px;
    height: 10px;
    transition: var(--main-transition);
    z-index: -1;
}

.works .right .step:hover::before {
    width: 100%;
    height: 100%;
}

.works .right .step .image {
    padding: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.works .right .step .image img {
    width: 60px;
    max-width: 60px;
}

.works .right .step .info {
    flex: 1;
    padding: 0px 20px;
}

.works .right .step .info p {
    font-size: 18px;
    color: #777;
    line-height: 1.4;
}

@media (max-width: 991px) {
    .works .right .step  p{
        text-align: center;
        font-size: 14px;
    }

    .works .right .step  h2{
        text-align: center;
        font-size: 20px;
    }
}
/* end works */

/* start events */

.events {
    padding: var(--main-section-padding);
    background-color: #FFF;
    position: relative;
}

.events .dot {
    background-image: url("../imgs/dots.png");
    background-repeat: no-repeat;
    position: absolute;
    width: 204px;
    height: 186px;
}

@media (max-width: 1199px) {
    .events .dot {
        display: none;
    }
}

.events .dot.dots-up {
    right: 20px;
    top: 190px;
}

.events .dot.dots-down {
    left: 20px;
    bottom: 170px;
}

.events .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.events .container > img {
    width: 450px;
    max-width: 450px;
}

@media (max-width: 991px) {
    .events .container > img {
        display: none;
    }
}

.events .info {
    flex: 1;
}

.events .info .time {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
}

.events .info .time .unit {
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    transition: var(--main-transition);
}

.events .info .time .unit:hover {
    border-color: var(--main-color) ;
}

.events .info .time .unit span {
    display: block;

}

.events .info .time .unit span:first-of-type {
    color: var(--main-color);
    padding: 15px;
    font-weight: bold;
    font-size: 35px;
}

.events .info .time .unit span:last-of-type {
    padding: 8px 10px;
    border-top: 1px solid #D4D4D4;
    font-size: 14px;
    transition: var(--main-transition);
}

.events .info .time .unit:hover span:last-of-type {
    border-color: var(--main-color) ;
}

.events .info .title {
    text-align: center;
    font-size: 30px;
    padding: 10px 0px;
}

.events .info .description  {
    text-align: center;
    font-size: 18px;
    color: #777;
}

.events .subscribe {
    width: 100%;
    margin-top: 50px;
}

.events .subscribe form {
    background-color: #F6F5F5;
    margin: 20px auto;
    width: 600px;
    padding: 30px 40px;
    border-radius: 50px;
    display: flex;
    gap: 20px
}

@media (max-width: 767px) {
    .events .subscribe form {
        max-width: 100%;
        flex-direction: column;
        padding: 20px;
        border-radius: 0px;
    }
}

.events .subscribe form input[type="email"]{
    padding: 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 14px;
    caret-color: var(--main-color);
    flex: 1;    
}

@media (max-width: 767px) {
    .events .subscribe form input[type="email"] {
        border-radius: 0px;
    }
}

.events .subscribe form input[type="email"]:focus {
    outline: none;
}

.events .subscribe form input[type="email"]::placeholder {
    transition: opacity var(--main-transition);
}

.events .subscribe form input[type="email"]:focus::placeholder {
    opacity: 0;
}

.events .subscribe form input[type="submit"]{
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    color: #FFF;
    background-color: var(--main-color);
    border: none;
    outline: none;
    transition: var(--main-transition);
}

@media (max-width: 767px) {
    .events .subscribe form input[type="submit"] {
        border-radius: 0px;
    }
}

.events .subscribe form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}


/* end events */

/* start pricing */
.pricing {
    padding: var(--main-section-padding);
    background-color: var(--section-background);
    position: relative;
}

.pricing::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}

.pricing .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 40px;
}

.pricing .box {
    background-color: #FFF;
    text-align: center;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    z-index: 1;
}

.pricing .box::before , 
.pricing .box::after {
    content: "";
    background-color: #F6F6F6;
    position: absolute;
    width: 0px;
    height: 50%;
    transition: var(--main-transition);
    z-index: -1;
}

.pricing .box::before {
    top: 0px;
    left: 0px;
}

.pricing .box::after {
    bottom: 0px;
    right: 0px;
}

.pricing .box:hover::before ,
.pricing .box:hover::after {
    width: 100%;
}

@media (min-width: 1200px) {
    .pricing .box.box.popular {
        top: -20px;
    }
}

.pricing .box > h2 {
    text-align: center;
    margin: 30px 0px;
}

.pricing .box > img {
    margin: 10px auto;
    width: 80px;
    height: 80px;
}

.pricing .box .price {
    margin: 20px;
}

.pricing .box .price > span {
    display: block;
    text-align: center;
}

.pricing .box .price .amount {
    font-size: 60px;
    color: var(--main-color);
    font-weight: bold;
}

.pricing .box .price .time { 
    font-size: 18px;
    color: #777;
}

.pricing .box ul li{
    font-size: 20px;
    padding: 18px;
    border-top: 1px solid #eee;
    text-align: left;
}

.pricing .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: bold;
    color: var(--main-color);
}

.pricing .box > a {
    margin: 30px auto 40px;
    padding: 15px 20px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    font-weight: bold;
    transition: var(--main-transition);
    display: block;
    width: fit-content;
}

.pricing .box > a:hover {
    background-color: var(--main-color-alt);
    border-color: var(--main-color-alt);
    color: #FFF;
}

.pricing .box.popular .label {
    position: absolute;
    writing-mode: vertical-rl;
    background-color: var(--main-color);
    padding: 10px 10px 35px 10px;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    right: 20px;
    overflow: hidden;
    z-index: 1;
}

.pricing .box.popular .label::before {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-style: solid;
    border-color: transparent transparent #FFF transparent;
    border-width: 22px;
    z-index: -5;
}

/* end pricing */

/* start videos */
.videos {
    padding: var(--main-section-padding);
    position: relative;
}

.videos .holder {
    display: flex;
    justify-content: center;
    border: 1px solid #DDD;
}

@media (max-width: 991px) {
    .videos .holder {
        flex-direction: column;
    }
}

.videos .holder .list {
    min-width: 300px;
}

.videos .holder .preview {
    flex: 1;
}

.videos .holder .preview img{
    width: 100%;
    max-width: 100%;
}

.videos .holder .list .name {
    background-color: #F4F4F4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 20px;
    color: var(--main-color);
}
.videos .holder .list .name i {
    color: var(--main-color);
}

.videos .holder .list ul li {
    padding: 20px;
    border-bottom: 1px solid #DDD;
    font-size: 18px;
    cursor: pointer;
    transition: var(--main-transition);
}

.videos .holder .list ul li:hover {
    background-color: #FAFAFA;
    color: var(--main-color);
}

.videos .holder .list ul li > span {
    display: block;
    padding: 5px 0px;
    font-weight: bold;
    font-size: 14px;
    color: var(--main-color);
}

.videos .holder .preview {
    background-color: var(--section-background);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.videos .holder .preview .info {
    background-color: #FFF;
    padding: 20px;
    margin-top: 10px;
}

/* end videos */

/* start states */
.states {
    background-image: url("../imgs/stats.jpg");
    background-color: rgb(255 255 255 / 95%);
    background-blend-mode: overlay;
    padding: var(--main-section-padding);
    position: relative;
}

.states::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}

.states h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
}

.states .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 20px;
}

.states .box {
    background-color: #fcfefe;
    padding: 30px 15px;
    text-align: center;
    position: relative;
}

.states .box::before ,
.states .box::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 0%;
    width: 2px;
    transition: var(--main-transition);
}

.states .box::before {
    bottom: 0px;
    left: 0px;
}

.states .box::after {
    top: 0px;
    right: 0px;
}

.states .box:hover::before , 
.states .box:hover::after {
    height: 100%;
}

.states .box i {
    color: #000;
}

.states .box > span {
    display: block;
}

.states .box .number {
    font-size: 60px;
    font-weight: bold;
}

.states .box .text {
    font-size: 25px;
    color: var(--main-color);
    font-weight: bold;
}
/* end states */

/* start discount */
.discount {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 991px) {
    .discount {
        flex-direction: column;
    }
}

.discount .image {
    animation: change-background 5s linear infinite;
    animation-direction: alternate;
    background-size: cover;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.discount .image::before {
    content:"";
    position: absolute;
    background-color: #1787e0f5;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.discount .image .content {
    text-align: center;
}

.discount .image .content h2{
    margin: 30px 0px;
    font-size: 40px;
    color: #FFF;
}

@media (max-width: 991px) {
    .discount .image .content h2{
        font-size: 30px;
    }
    
}

.discount .image .content p{
    margin: 18px 0px;
    font-size: 20px;
    color: #FFF;
    max-width: 500px;
}

@media (max-width: 991px) {
    .discount .image .content p{
        font-size: 16px;
        padding: 0px 20px;
    }
    
}

.discount .image .content img {
    width: 300px;
    max-width: 100%;
}

@media (max-width: 991px) {
    .discount .image .content img {
        width: 200px;
        max-width: 100%;
    }
    
}

.discount .form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount .form .content {
    text-align: center;
    padding: 0px 15px;
    width: 70%;
}

.discount .form .content h2 {
    font-size: 50px;
    letter-spacing: -2px;
    
}

@media (max-width: 991px) {
    .discount .form .content h2 {
        font-size: 30px;    
        margin-top: 30px;    
    }
    
}

.discount .form .content .input {
    background-color: #f9f9f9;
    padding: 15px;
    display: block;
    margin: 25px auto;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #CCC;
    caret-color: var(--main-color);
    font-size: 14px;
}

.discount .form .content textarea.input {
    resize: none;
    width: 100%;
    height: 200px;
}

.discount .form .content input[type="submit"] {
    background-color: var(--main-color);
    padding: 15px;
    display: block;
    margin: 25px auto;
    width: 100%;
    outline: none;
    border: none;
    caret-color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    transition: var(--main-transition);
}

.discount .form .content input[type="submit"]:hover {
    background-color: var(--main-color-alt);

}

/* end discount */

/* start footer */
.footer {
    padding: 80px 0px 0px;
    background-color: #191919;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 40px;
}

@media (max-width: 767px) {
    .footer .box {
        text-align: center;
    }
}

.footer .box h3{

    color: #FFF;
    font-size: 50px;
    margin: 0px 0px 20px;
    font-weight: bold;
    
}

@media (max-width: 767px) {
    .footer .box h3{
        font-size: 40px;        
    }
}

.footer .box .social {
    display: flex;
}

.footer .box .social li {
    margin-right: 10px;
}

.footer .box .social li a {
    background-color: #313131;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
}

.footer .box .social li a i {
    color: #898989;
}

.footer .box .social .facebook:hover {
    background-color: #1877f2;
}

.footer .box .social .twitter:hover {
    background-color: #1da1f2;
}

.footer .box .social .youtube:hover {
    background-color: #ff0000;
}


@media (max-width: 767px) {
    .footer .box .social{
        justify-content: center;  
        margin-bottom: 15px;      
    }
}

.footer .box .text {
    line-height: 2;
    color: #b9b9b9;
    font-size: 18px;
}

@media (max-width: 767px) {
    .footer .box .text{
        font-size: 16px;     
    }
}

.footer .box .links li {
    padding: 10px;
    transition: var(--main-transition);

}

.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .box .links li:hover {
    padding-left: 20px;
}

.footer .box .links li:hover a {
    color: #FFF;
}

.footer .box .links li a{
    color: #b9b9b9;
    transition: var(--main-transition);
    font-size: 18px;
}

@media (max-width: 767px) {
    .footer .box .links li a{
        font-size: 16px;
    }
}

.footer .box .links li a::before {
    content: "\F101";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    margin-right: 10px;
    color: var(--main-color);
}

.footer .box .line {
    display: flex;
    align-items: center;
    color: #898989;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .footer .box .line {
        flex-direction: column;
        margin-bottom: 10px;
    }
}

.footer .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin: 10px;
}

.footer .box .line .info {
    line-height: 1.5;
    flex: 1;
    font-size: 18px;
}

@media (max-width: 767px) {
    .footer .box .line .info {
        font-size: 16px;
    }
}

.footer .box .line .info span {
    display: block;
}

.footer .box.footer-gallery img {
    width: 78px;
    border: 3px solid #FFF;
    margin: 2px;
}

.footer .copyright {
    padding: 25px;
    text-align: center;
    color: #FFF;
    margin: 50px 0px 0px;
    border-top: 1px solid #444;
    font-size: 20px;
}


/* end footer */

/* keyframes */
@keyframes up-down {
    to {
        transform: translateY(-35px);
    }
}

@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60%{
        transform: translateY(-15px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
        width: 15px;
        height: 15px;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

}

@keyframes right-move {
    50% {
        right: 0;
        width: 15px;
        height: 15px;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

}

@keyframes moving-arrow {
    100% {
        transform: translateX(10px);
    }

}

@keyframes flashing {
    0% , 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

@keyframes change-background {
    from {
        background-image: Url("../imgs/discount-background1.jpg");
    }
    to {
        background-image: Url("../imgs/discount-background2.jpg");
    }
}
/* end keyframes */
